
.foundation-5-top-bar {
  background:#255;
  color: #FF5733;
}

.foundation-5-top-bar .menu {
  background: #255;
}

.foundation-5-top-bar .menu a {
  color: #FF5733;
}

.foundation-5-top-bar .is-dropdown-submenu {
  border: 0;
}

.foundation-5-top-bar .is-dropdown-submenu-item.opens-right a::after {
  border-color: transparent transparent transparent #FF5733;
}

.foundation-5-top-bar .js-drilldown-back > a::before {
  border-color: transparent #FF5733 transparent transparent;
}

.foundation-5-top-bar .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #FF5733;
}

.foundation-5-top-bar .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-color:#FF5733 transparent transparent;
}
